---
layout: archive
title: "Photo Sets"
permalink: /photos/
description: "A base page for photo albums"
---

{% include base_path %}

I enjoy taking pictures with a film camera while out on hikes or doing field work. Click on the links below to see some of my shots!

<ul>
  {% comment %}
    Get all "photo_set" pages and display a list with links to them.
  {% endcomment %}
  {% assign photo_pages = site.pages | where: "layout", "photo_set" %}
  {% for photo_page in photo_pages %}
    <li>
      <a href="{{ photo_page.url | prepend: site.baseurl }}">{{ photo_page.desc }}</a>
    </li>
  {% endfor %}
</ul>


